/* reset and general config */

:root {
    --main-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

body {
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-grayish-cyan);
}

/* remove input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.app-title {
    text-transform: uppercase;
    color: rgba(0, 73, 77, 0.8);
    letter-spacing: 0.5rem;
}

.splitter-logo {
    margin-bottom: 5rem;
}

/* end reset and general config */


/* app general */


.container {
    width: 920px;
    height: 480px;
    padding: 2rem 2rem 2rem 3rem;
    display: flex;
    border-radius: 0.7rem;
    background-color: var(--white);
}

/* left-side */
.left-side {
    width: 50%;
    padding: 0.75rem 3rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-label, .selectTip {
    display: block;
    font-size: 1rem;
    color: var(--dark-grayish-cyan);
}

.text-label {
    margin-bottom: 0.5rem;
}

.selectTip {
    margin-bottom: 1.4rem;
}

.input-text {
    width: 100%;
    height: 2.8rem;
    border-radius: 0.3rem;
    border: none;
    text-align: end;
    font-size: 1.5rem;
    color: var(--very-dark-cyan);
    padding-right: 0.8rem;
}

#billValue {
    background: url(./images/icon-dollar.svg) no-repeat scroll 1rem 1rem var(--very-light-grayish-cyan);
}

.input-text:focus-visible {
    outline: 2px solid var(--main-cyan);
}

.selectTip {
    font-size: 1rem;
}

.select-tip-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.tip-btn {
    width: 100%;
    height: 3rem;
    position: relative;
}

#tipCustom {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: var(--very-light-grayish-cyan);
    border-radius: 0.3rem;
}

#tipCustom:focus-visible {
    outline: 2px solid var(--main-cyan);
}


input[type="radio"] {
    appearance: none;
    width: 100%;
    height: 3rem;
    display: grid;
    place-content: center;
    position: relative;
    background-color: var(--very-dark-cyan);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

input[type="radio"]:hover {
    background-color: var(--main-cyan);
}

input[type="radio"]::before {
    content: "";
    width: 100%;
    height: 3rem;
    opacity: 0;
    transition: 0.1s;
    background-color: var(--main-cyan);
    border-radius: 0.3rem;
    position: absolute;
    left: -0px;
    top: -0px;
  }

input[type="radio"]::after{
    content: attr(title);
    width: 4rem;
    height: 2rem;
    display: grid;
    place-items: center;
    display: absolute;
    left: -0px;
    top: -0px;
    z-index: 2;
    color: var(--white);
    font-size: 1.3rem;
}

input[type="radio"]:hover::after {
    color: var(--very-dark-cyan);
}

input[type="radio"]:checked::before {
    opacity: 1;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.case-zero {
    font-size: 1rem;
    color: rgb(192, 79, 79);
}

.disabled {
    display: none;
}

.red-outline:focus-visible {
    outline: 2px solid rgb(212, 74, 74);
}

#numPeople {
    background: url(./images/icon-person.svg) no-repeat scroll 1rem 1rem var(--very-light-grayish-cyan);
}

/* end of left-side */




/* right-side */
.right-side {
    width: 50%;
    padding: 3.5rem 2.2rem 2.5rem 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
}

.display-container {
    /* border: 1px solid red; */
}

.display-tip-result, .display-total-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-tip-result {
    margin-bottom: 2.5rem;
}

.title {
    font-size: 1rem;
    color: var(--white);
}

.desc {
    font-size: 0.8rem;
    color: var(--grayish-cyan);
}

.result {
    font-size: 3rem;
    color: var(--main-cyan);
    line-height: 1;
}

.reset-btn {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: var(--main-cyan);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--very-dark-cyan);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.reset-btn:hover {
    background-color: var(--light-grayish-cyan);
}

.reset-btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.reset-btn:disabled:hover {
    background-color: var(--main-cyan);
}
/* end right-side */


/* end of app general */



/* RESPONSIVE */

@media screen and (max-width: 930px) {

    .splitter-logo {
        margin: 3rem 0 2rem 0;
    }

    .container {
        flex-direction: column;
        height: auto;
        width: 90vw;
        min-width: 375px;
        padding: 1.5rem 2rem;
        border-radius: 2rem;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .left-side {
        padding: 0;
    }

    .bill {
        margin-bottom: 2rem;
    }

    .select-tip-container {
        grid-template-columns: 1fr 1fr;
    }

    #tipCustom {
        text-align: end;
        padding-right: 1rem;
    }

    .tip {
        padding-bottom: 2.5rem;
    }

    .people {
        margin-bottom: 2.4rem;
    }

    .right-side {
        padding: 2.25rem 1.25rem 1.4rem 1.25rem;
    }

    .result {
        font-size: 2rem;
    }

    .display-tip-result {
        margin-bottom: 1.25rem;
    }

    .display-total-result {
        margin-bottom: 1.5rem;
    }

    .input-text {
        padding-right: 1.25rem;
    }

}