/* reset and general config */

:root {
    --main-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

body {
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-grayish-cyan);
}

/* end reset and general config */


/* app general */


.container {
    width: 920px;
    height: 480px;
    padding: 2rem;
    display: flex;
    border-radius: 1rem;
    background-color: var(--very-light-grayish-cyan);
}

/* left-side */
.left-side {
    width: 50%;
    padding: 0.5rem 2rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-label, .selectTip {
    display: block;
    font-size: 1rem;
    color: var(--dark-grayish-cyan);
    margin-bottom: 0.5rem;
}

.input-text {
    width: 100%;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--very-light-grayish-cyan);
    text-align: end;
    font-size: 1.5rem;
}

#billValue {
    background: url(./images/icon-dollar.svg) no-repeat scroll 1rem 1rem;
}

.input-text:focus-visible {
    outline: 2px solid var(--main-cyan);
}

.selectTip {
    font-size: 1rem;
}

.select-tip-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.tip-btn {
    width: 100%;
    height: 3rem;
    position: relative;
}

#tipCustom {
    width: 100%;
    height: 3rem;
    padding: 0.3rem;
    font-size: 1.5rem;
    border: none;
    background-color: var(--very-light-grayish-cyan);
}


input[type="radio"] {
    appearance: none;
    width: 100%;
    height: 3rem;
    display: grid;
    place-content: center;
    position: relative;
    background-color: var(--very-dark-cyan);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

input[type="radio"]:hover {
    background-color: var(--main-cyan);
}

input[type="radio"]::before {
    content: "";
    width: 100%;
    height: 3rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--main-cyan);
    border-radius: 0.3rem;
    position: absolute;
    left: -0px;
    top: -0px;
  }

input[type="radio"]::after{
    content: attr(title);
    width: 4rem;
    height: 2rem;
    display: grid;
    place-items: center;
    display: absolute;
    left: -0px;
    top: -0px;
    z-index: 2;
    color: var(--white);
    font-size: 1.3rem;
}

input[type="radio"]:hover::after {
    color: var(--very-dark-cyan);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.case-zero {
    font-size: 1rem;
    color: rgb(192, 79, 79);
}

.disabled {
    display: none;
}

.red-outline:focus-visible {
    outline: 2px solid rgb(212, 74, 74);
}

#numPeople {
    background: url(./images/icon-person.svg) no-repeat scroll 1rem 1rem;
}

/* end of left-side */




/* right-side */
.right-side {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
}

.display-container {
    /* border: 1px solid red; */
}

.display-tip-result, .display-total-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-tip-result {
    margin-bottom: 3rem;
}

.title {
    font-size: 1rem;
    color: var(--white);
}

.desc {
    font-size: 0.8rem;
    color: var(--grayish-cyan);
}

.result {
    font-size: 3rem;
    color: var(--main-cyan);
}

.reset-btn {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: var(--main-cyan);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--very-dark-cyan);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.reset-btn:hover {
    background-color: var(--light-grayish-cyan);
}

/* end right-side */


/* end of app general */